flows.json
[
    {
        "id": "76b0c291.39da1c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e8b8a7ac.5dd2f8",
        "type": "ui_gauge",
        "z": "76b0c291.39da1c",
        "name": "",
        "group": "86ad0b61.c0e7e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 880,
        "y": 600,
        "wires": []
    },
    {
        "id": "efed3ee3.da3c8",
        "type": "rpi-dht22",
        "z": "76b0c291.39da1c",
        "name": "Temperature",
        "topic": "rpi-dht22",
        "dht": "22",
        "pintype": "0",
        "pin": "17",
        "x": 270,
        "y": 660,
        "wires": [
            [
                "2ce424c.811abdc",
                "2e1fb1c9.37fa5e",
                "cd928ebc.7595d"
            ]
        ]
    },
    {
        "id": "c8e29b9f.a51fe8",
        "type": "inject",
        "z": "76b0c291.39da1c",
        "name": "0.2hz_clk",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 660,
        "wires": [
            [
                "efed3ee3.da3c8"
            ]
        ]
    },
    {
        "id": "2ce424c.811abdc",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "getHumidity",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 600,
        "wires": [
            [
                "e8b8a7ac.5dd2f8",
                "e6f11af3.c972a8"
            ]
        ]
    },
    {
        "id": "2e1fb1c9.37fa5e",
        "type": "ui_gauge",
        "z": "76b0c291.39da1c",
        "name": "",
        "group": "86ad0b61.c0e7e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "degrees C",
        "format": "{{value}}",
        "min": "-25",
        "max": "75",
        "colors": [
            "#001eb3",
            "#0fe600",
            "#ca3838"
        ],
        "seg1": "9",
        "seg2": "25",
        "x": 890,
        "y": 660,
        "wires": []
    },
    {
        "id": "16531275.ef9c0e",
        "type": "ui_switch",
        "z": "76b0c291.39da1c",
        "name": "Enable PV",
        "label": "Enable PV",
        "tooltip": "Connect PV to charge controller",
        "group": "c2d0b90f.37e558",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 490,
        "y": 880,
        "wires": [
            [
                "4aaec0e6.7a503",
                "2d9edd0a.d7d792"
            ]
        ]
    },
    {
        "id": "4aaec0e6.7a503",
        "type": "rpi-gpio out",
        "z": "76b0c291.39da1c",
        "name": "disconnect_pv",
        "pin": "12",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 720,
        "y": 880,
        "wires": []
    },
    {
        "id": "c90c932c.19d31",
        "type": "ui_chart",
        "z": "76b0c291.39da1c",
        "name": "tempChart",
        "group": "86ad0b61.c0e7e8",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "288",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 890,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "5c255bbf.b26dc4",
        "type": "ui_chart",
        "z": "76b0c291.39da1c",
        "name": "humidChart",
        "group": "86ad0b61.c0e7e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "288",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 890,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "e3430aec.f1cee8",
        "type": "mcp342x",
        "z": "76b0c291.39da1c",
        "addressai": 0,
        "devtype": "4",
        "devadr": "0",
        "mode0": "0",
        "mode1": "1",
        "mode2": "2",
        "mode3": "2",
        "gain0": "0",
        "gain1": "0",
        "gain2": "0",
        "gain3": "0",
        "factor0": "2.46580",
        "factor1": "2.4658",
        "factor2": "2.4658",
        "factor3": "2.4658",
        "offset0": "0",
        "offset1": 0,
        "offset2": 0,
        "offset3": 0,
        "x": 120,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "c8e118ef.454b48",
        "type": "inject",
        "z": "76b0c291.39da1c",
        "name": "5hz_clk",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1300,
        "wires": [
            [
                "a7763c82.12b53",
                "a2ec8877.b96fc8",
                "26a64052.ec20a",
                "8e3a720c.317ba",
                "12de445d.c70a8c",
                "b55c1269.66fa1",
                "d20ec8ee.53eab8"
            ]
        ]
    },
    {
        "id": "2f4a420a.a1418e",
        "type": "redplc-cpu",
        "z": "76b0c291.39da1c",
        "sdelay": 200,
        "tinput": "30",
        "toutput": "30",
        "trungs": 5,
        "outputs": 2,
        "stime": false,
        "x": 90,
        "y": 1440,
        "wires": [
            [
                "e3430aec.f1cee8"
            ],
            []
        ]
    },
    {
        "id": "a7763c82.12b53",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_pv_current",
        "func": "msg.payload = global.get('pv_current');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1300,
        "wires": [
            [
                "c2b5c295.513a9"
            ]
        ]
    },
    {
        "id": "c2b5c295.513a9",
        "type": "ui_gauge",
        "z": "76b0c291.39da1c",
        "name": "PV Current",
        "group": "c2d0b90f.37e558",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PV Current (A)",
        "label": "A",
        "format": "{{value}}",
        "min": "-20",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 1300,
        "wires": []
    },
    {
        "id": "5bf7287d.0dd248",
        "type": "ui_gauge",
        "z": "76b0c291.39da1c",
        "name": "Battery Current",
        "group": "f935a064.ba785",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Battery Current",
        "label": "A",
        "format": "{{value}}",
        "min": "-20",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 1460,
        "wires": []
    },
    {
        "id": "a2ec8877.b96fc8",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_battery_current",
        "func": "msg.payload = global.get('battery_current');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 1460,
        "wires": [
            [
                "5bf7287d.0dd248"
            ]
        ]
    },
    {
        "id": "ad43aca9.039c5",
        "type": "ui_gauge",
        "z": "76b0c291.39da1c",
        "name": "Battery Voltage",
        "group": "f935a064.ba785",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Voltage (V)",
        "label": "V",
        "format": "{{value}}",
        "min": "9",
        "max": "13",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 1500,
        "wires": []
    },
    {
        "id": "26a64052.ec20a",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_battery_voltage",
        "func": "msg.payload = global.get('battery_voltage');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 1500,
        "wires": [
            [
                "ad43aca9.039c5",
                "6077e4b.5d5011c"
            ]
        ]
    },
    {
        "id": "8e3a720c.317ba",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "process_analog_inputs",
        "func": "var inputBus0 = global.get('IA0');\n\n// AI0\t-\tPV Current sensor\n// AI1\t-\tBattery current sensor\n// AI2\t-\tUSB voltage\n// AI4\t-\tBattery voltage\nvar AI0 = inputBus0[0]/1000;\nvar AI1 = inputBus0[1]/1000;\nvar AI2 = inputBus0[2]/1000;\nvar AI3 = inputBus0[3]/1000;\n\n//Usb voltage\nvar usb_voltage_raw = AI2;\n\n//Current sensor calibration\nvar iZeroVolts = usb_voltage_raw/2;\nvar voltsPerAmp = 0.1;\n\n\nvar pv_current = ((AI0 - iZeroVolts) / voltsPerAmp).toFixed(3);\nvar battery_current = ((AI1 - iZeroVolts) / voltsPerAmp).toFixed(3);\nvar usb_voltage = usb_voltage_raw.toFixed(2);\n\n\nvar vbatPDRatio = 3.0916;\n\nvar battery_voltage = (AI3 * vbatPDRatio).toFixed(2);\n\nvar pv_power = (battery_voltage * pv_current).toFixed(2);\n\n\nglobal.set(\"pv_current\",pv_current);\nglobal.set(\"battery_current\",battery_current);\nglobal.set(\"usb_voltage\",usb_voltage);\nglobal.set(\"battery_voltage\",battery_voltage);\nglobal.set(\"pv_power\",pv_power);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "2d9edd0a.d7d792",
        "type": "ui_led",
        "z": "76b0c291.39da1c",
        "order": 2,
        "group": "c2d0b90f.37e558",
        "width": 0,
        "height": 0,
        "label": "PV connected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "pv_connected",
        "x": 720,
        "y": 840,
        "wires": []
    },
    {
        "id": "112c7365.ffeefd",
        "type": "inject",
        "z": "76b0c291.39da1c",
        "name": "Enable PV on power up",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "false",
        "payloadType": "jsonata",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "16531275.ef9c0e"
            ]
        ]
    },
    {
        "id": "12de445d.c70a8c",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_pv_power",
        "func": "msg.payload = global.get('pv_power');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1360,
        "wires": [
            [
                "413b7686.514508",
                "d1d3f2c4.b2c0d"
            ]
        ]
    },
    {
        "id": "413b7686.514508",
        "type": "ui_gauge",
        "z": "76b0c291.39da1c",
        "name": "PV Power",
        "group": "c2d0b90f.37e558",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PV Power (W)",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 1360,
        "wires": []
    },
    {
        "id": "c0e90f26.573f2",
        "type": "ui_chart",
        "z": "76b0c291.39da1c",
        "name": "PW Power",
        "group": "c2d0b90f.37e558",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "PV Power (W)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "600",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 910,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "b55c1269.66fa1",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_usb_voltage",
        "func": "msg.payload = global.get('usb_voltage');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1700,
        "wires": [
            [
                "104074cc.da666b"
            ]
        ]
    },
    {
        "id": "104074cc.da666b",
        "type": "ui_gauge",
        "z": "76b0c291.39da1c",
        "name": "usb_voltage",
        "group": "294a7a5f.cb1686",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "USB Voltage",
        "label": "V",
        "format": "{{value}}",
        "min": "4.75",
        "max": "5.25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 1700,
        "wires": []
    },
    {
        "id": "d20ec8ee.53eab8",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_cell_voltage",
        "func": "msg.payload = (global.get('battery_voltage')/3).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1580,
        "wires": [
            [
                "c90ae616.bf6b58"
            ]
        ]
    },
    {
        "id": "c90ae616.bf6b58",
        "type": "ui_text",
        "z": "76b0c291.39da1c",
        "group": "f935a064.ba785",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "cell_voltage",
        "label": "Cell Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 1580,
        "wires": []
    },
    {
        "id": "32f82a54.c51a06",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "disable_solar_when_battery_full",
        "func": "var battery_voltage = global.get('battery_voltage');\nvar vmax = 12;\nvar hyst = 0.2;\nvar auto_disconnect_pv;\n\nif(global.get('auto')==true){\n    if(battery_voltage > vmax){\n        global.set('auto_disconnect_pv',true);\n    }\n    if(battery_voltage < (vmax-hyst)){\n        global.set('auto_disconnect_pv',false);\n    }\n    \n    \n    msg.payload = global.get('auto_disconnect_pv');\n}else{\n    global.set('auto_disconnect_pv',false);\n    msg.payload = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "8986eae5.5f2fb8",
        "type": "ui_switch",
        "z": "76b0c291.39da1c",
        "name": "enable_auto_pv_control",
        "label": "Auto",
        "tooltip": "Enable auto PV control",
        "group": "c2d0b90f.37e558",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 530,
        "y": 960,
        "wires": [
            [
                "78be890b.4e7608",
                "cc17a1a0.6b6a6"
            ]
        ]
    },
    {
        "id": "78be890b.4e7608",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "set_auto_pv",
        "func": "global.set('auto',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 790,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "cc17a1a0.6b6a6",
        "type": "ui_led",
        "z": "76b0c291.39da1c",
        "order": 3,
        "group": "c2d0b90f.37e558",
        "width": 0,
        "height": 0,
        "label": "Auto Control Enabled",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "auto_enabled",
        "x": 810,
        "y": 1020,
        "wires": []
    },
    {
        "id": "c603aee5.8fb4a",
        "type": "inject",
        "z": "76b0c291.39da1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "32f82a54.c51a06"
            ]
        ]
    },
    {
        "id": "9287fd31.95669",
        "type": "ui_chart",
        "z": "76b0c291.39da1c",
        "name": "Battery Voltage",
        "group": "f935a064.ba785",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Battery Voltage (V)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "288",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 920,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "d1d3f2c4.b2c0d",
        "type": "delay",
        "z": "76b0c291.39da1c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 710,
        "y": 1400,
        "wires": [
            [
                "c0e90f26.573f2"
            ]
        ]
    },
    {
        "id": "6077e4b.5d5011c",
        "type": "delay",
        "z": "76b0c291.39da1c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 720,
        "y": 1540,
        "wires": [
            [
                "9287fd31.95669"
            ]
        ]
    },
    {
        "id": "e6f11af3.c972a8",
        "type": "delay",
        "z": "76b0c291.39da1c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 700,
        "y": 560,
        "wires": [
            [
                "5c255bbf.b26dc4"
            ]
        ]
    },
    {
        "id": "cd928ebc.7595d",
        "type": "delay",
        "z": "76b0c291.39da1c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 700,
        "y": 720,
        "wires": [
            [
                "c90c932c.19d31"
            ]
        ]
    },
    {
        "id": "86ad0b61.c0e7e8",
        "type": "ui_group",
        "name": "Environment",
        "tab": "f2bc0cf7.556ce",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "c2d0b90f.37e558",
        "type": "ui_group",
        "name": "PV",
        "tab": "f2bc0cf7.556ce",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f935a064.ba785",
        "type": "ui_group",
        "name": "Battery",
        "tab": "f2bc0cf7.556ce",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "294a7a5f.cb1686",
        "type": "ui_group",
        "name": "Raspberry PI",
        "tab": "f2bc0cf7.556ce",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f2bc0cf7.556ce",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]