flows_raspberrypi.json
[{"id":"e7a87ff6.fe42d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d2548f36.f8db4","type":"ui_tab","name":"Shed","icon":"dashboard","disabled":false,"hidden":false},{"id":"612a044d.2efefc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"58558b22.bf10f4","type":"ui_group","name":"Temperature","tab":"d2548f36.f8db4","order":1,"disp":true,"width":"6","collapse":false},{"id":"86ad0b61.c0e7e8","type":"ui_group","name":"Humidity","tab":"d2548f36.f8db4","order":2,"disp":true,"width":"6","collapse":true},{"id":"10233911.56dfd7","type":"ui_group","name":"Outputs","tab":"d2548f36.f8db4","order":3,"disp":true,"width":"6","collapse":false},{"id":"ea065053.aa9b4","type":"ui_group","name":"Analog Inputs","tab":"d2548f36.f8db4","order":4,"disp":true,"width":"6","collapse":false},{"id":"f2bc0cf7.556ce","type":"ui_tab","name":"Solar","icon":"dashboard","disabled":false,"hidden":false},{"id":"c2d0b90f.37e558","type":"ui_group","name":"PV","tab":"f2bc0cf7.556ce","order":1,"disp":true,"width":"6","collapse":false},{"id":"f935a064.ba785","type":"ui_group","name":"Battery","tab":"f2bc0cf7.556ce","order":2,"disp":true,"width":"6","collapse":false},{"id":"51282603.3865f8","type":"ui_group","name":"Load","tab":"f2bc0cf7.556ce","order":3,"disp":true,"width":"6","collapse":false},{"id":"f0045fc4.e6b1","type":"ui_spacer","name":"spacer","group":"f935a064.ba785","order":2,"width":"2","height":"2"},{"id":"4be6a45c.fd89dc","type":"ui_gauge","z":"e7a87ff6.fe42d","name":"","group":"86ad0b61.c0e7e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":600,"wires":[]},{"id":"60dd221c.6e0d4c","type":"rpi-dht22","z":"e7a87ff6.fe42d","name":"Temperature","topic":"rpi-dht22","dht":"22","pintype":"0","pin":"17","x":270,"y":660,"wires":[["619ece63.f14d9","d1358d00.a6b7d","300b6be1.52e794"]]},{"id":"1dd3d984.16c716","type":"inject","z":"e7a87ff6.fe42d","name":"0.2hz_clk","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":660,"wires":[["60dd221c.6e0d4c"]]},{"id":"619ece63.f14d9","type":"function","z":"e7a87ff6.fe42d","name":"getHumidity","func":"msg.payload = msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":600,"wires":[["4be6a45c.fd89dc","6a0ff0fc.7c778"]]},{"id":"d1358d00.a6b7d","type":"ui_gauge","z":"e7a87ff6.fe42d","name":"","group":"58558b22.bf10f4","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degrees C","format":"{{value}}","min":"-25","max":"75","colors":["#001eb3","#0fe600","#ca3838"],"seg1":"9","seg2":"25","x":670,"y":660,"wires":[]},{"id":"d913464d.071d18","type":"ui_switch","z":"e7a87ff6.fe42d","name":"Output Control 1","label":"Switch 1","tooltip":"","group":"10233911.56dfd7","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":100,"y":880,"wires":[["d8fd7127.9d7ad"]]},{"id":"d8fd7127.9d7ad","type":"rpi-gpio out","z":"e7a87ff6.fe42d","name":"Output 1","pin":"12","set":true,"level":"0","freq":"","out":"out","x":700,"y":880,"wires":[]},{"id":"300b6be1.52e794","type":"ui_chart","z":"e7a87ff6.fe42d","name":"tempChart","group":"58558b22.bf10f4","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":740,"wires":[[]]},{"id":"6a0ff0fc.7c778","type":"ui_chart","z":"e7a87ff6.fe42d","name":"humidChart","group":"86ad0b61.c0e7e8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":560,"wires":[[]]},{"id":"213f3647.8381ba","type":"ui_switch","z":"e7a87ff6.fe42d","name":"Output Control 2","label":"Switch 2","tooltip":"","group":"10233911.56dfd7","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":100,"y":940,"wires":[["e2a2b48a.378318"]]},{"id":"b0353aba.2dfe88","type":"ui_switch","z":"e7a87ff6.fe42d","name":"Output Control 3","label":"Switch 3","tooltip":"","group":"10233911.56dfd7","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":100,"y":1000,"wires":[["25af1686.b6ffba"]]},{"id":"179acf0e.097be1","type":"ui_switch","z":"e7a87ff6.fe42d","name":"Output Control 4","label":"Switch 4","tooltip":"","group":"10233911.56dfd7","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":100,"y":1060,"wires":[["d36fe0e6.73517"]]},{"id":"e2a2b48a.378318","type":"rpi-gpio out","z":"e7a87ff6.fe42d","name":"Output 2","pin":"13","set":true,"level":"0","freq":"","out":"out","x":700,"y":940,"wires":[]},{"id":"25af1686.b6ffba","type":"rpi-gpio out","z":"e7a87ff6.fe42d","name":"Output 3","pin":"15","set":true,"level":"0","freq":"","out":"out","x":700,"y":1000,"wires":[]},{"id":"d36fe0e6.73517","type":"rpi-gpio out","z":"e7a87ff6.fe42d","name":"Output 4","pin":"16","set":true,"level":"0","freq":"","out":"out","x":700,"y":1060,"wires":[]},{"id":"5f791dce.4265c4","type":"mcp342x","z":"e7a87ff6.fe42d","addressai":0,"devtype":"4","devadr":"0","mode0":"0","mode1":"1","mode2":"2","mode3":"3","gain0":"0","gain1":"0","gain2":"0","gain3":"0","factor0":"2.46580","factor1":"2.4658","factor2":"2.4658","factor3":"2.4658","offset0":"0","offset1":0,"offset2":0,"offset3":0,"x":380,"y":1160,"wires":[[]]},{"id":"c50e3f51.a019","type":"inject","z":"e7a87ff6.fe42d","name":"5hz_clk","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1300,"wires":[["2a3483d8.a1d0bc","c662fb66.ebd6c8","f6670446.a24978","f784769e.158498"]]},{"id":"54b27559.4d460c","type":"redplc-cpu","z":"e7a87ff6.fe42d","sdelay":200,"tinput":"30","toutput":"30","trungs":5,"outputs":2,"stime":false,"x":120,"y":1160,"wires":[["5f791dce.4265c4"],[]]},{"id":"2a3483d8.a1d0bc","type":"function","z":"e7a87ff6.fe42d","name":"getIA0_ch0","func":"//Get global variable for analog in\nvar input = global.get('IA0');\n\n//Scale analog in for volts\nvar volts = input[0]/1000;\n\n//Volts at 0 current\nvar iZeroVolts = 2.538\n\n//Volts per amp scale factor\nvar voltsPerAmp = 0.1;\n\n//Apply voltage offset to zero device\nvolts = volts - iZeroVolts;\n\n//Calculate amps using scale factor\nvar amps = volts / voltsPerAmp;\n\n//Round amp reading\nvar ampsRound = amps.toFixed(3)\n\nmsg.payload = ampsRound;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1300,"wires":[["fc27dbcc.9228e8"]]},{"id":"fc27dbcc.9228e8","type":"ui_gauge","z":"e7a87ff6.fe42d","name":"Input 0","group":"c2d0b90f.37e558","order":2,"width":0,"height":0,"gtype":"gage","title":"PV Current","label":"A","format":"{{value}}","min":"-20","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":1300,"wires":[]},{"id":"c69b5f30.5ba28","type":"ui_gauge","z":"e7a87ff6.fe42d","name":"Input 1","group":"f935a064.ba785","order":1,"width":"0","height":"0","gtype":"gage","title":"Battery Current","label":"A","format":"{{value}}","min":0,"max":"5.05","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":1340,"wires":[]},{"id":"c662fb66.ebd6c8","type":"function","z":"e7a87ff6.fe42d","name":"getIA0_ch1","func":"var input = global.get('IA0');\nvar volts = input[1]/1000;\nvar voltsRound = volts.toFixed(2)\nmsg.payload = voltsRound;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1340,"wires":[["c69b5f30.5ba28"]]},{"id":"9c52683b.3bc0e8","type":"ui_gauge","z":"e7a87ff6.fe42d","name":"Input 2","group":"f935a064.ba785","order":3,"width":"0","height":"0","gtype":"gage","title":"Battery Voltage","label":"V","format":"{{value}}","min":0,"max":"5.05","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":1380,"wires":[]},{"id":"f6670446.a24978","type":"function","z":"e7a87ff6.fe42d","name":"getIA0_ch2","func":"var input = global.get('IA0');\nvar volts = input[2]/1000;\nvar voltsRound = volts.toFixed(2)\nmsg.payload = voltsRound;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1380,"wires":[["9c52683b.3bc0e8"]]},{"id":"a1c5d09e.29f58","type":"ui_gauge","z":"e7a87ff6.fe42d","name":"Input 3","group":"51282603.3865f8","order":2,"width":0,"height":0,"gtype":"gage","title":"Load Current","label":"A","format":"{{value}}","min":0,"max":"5.05","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":1420,"wires":[]},{"id":"f784769e.158498","type":"function","z":"e7a87ff6.fe42d","name":"getIA0_ch3","func":"var input = global.get('IA0');\nvar volts = input[3]/1000;\nvar voltsRound = volts.toFixed(2)\nmsg.payload = voltsRound;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1420,"wires":[["a1c5d09e.29f58"]]}]