flows.json
[
    {
        "id": "e7a87ff6.fe42d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4be6a45c.fd89dc",
        "type": "ui_gauge",
        "z": "e7a87ff6.fe42d",
        "name": "",
        "group": "86ad0b61.c0e7e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 540,
        "wires": []
    },
    {
        "id": "60dd221c.6e0d4c",
        "type": "rpi-dht22",
        "z": "e7a87ff6.fe42d",
        "name": "Temperature",
        "topic": "rpi-dht22",
        "dht": "22",
        "pintype": "0",
        "pin": "17",
        "x": 270,
        "y": 660,
        "wires": [
            [
                "619ece63.f14d9",
                "d1358d00.a6b7d",
                "300b6be1.52e794"
            ]
        ]
    },
    {
        "id": "1dd3d984.16c716",
        "type": "inject",
        "z": "e7a87ff6.fe42d",
        "name": "0.2hz_clk",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 660,
        "wires": [
            [
                "60dd221c.6e0d4c"
            ]
        ]
    },
    {
        "id": "619ece63.f14d9",
        "type": "function",
        "z": "e7a87ff6.fe42d",
        "name": "getHumidity",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 500,
        "wires": [
            [
                "4be6a45c.fd89dc",
                "6a0ff0fc.7c778"
            ]
        ]
    },
    {
        "id": "d1358d00.a6b7d",
        "type": "ui_gauge",
        "z": "e7a87ff6.fe42d",
        "name": "",
        "group": "86ad0b61.c0e7e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "degrees C",
        "format": "{{value}}",
        "min": "-25",
        "max": "75",
        "colors": [
            "#001eb3",
            "#0fe600",
            "#ca3838"
        ],
        "seg1": "9",
        "seg2": "25",
        "x": 670,
        "y": 660,
        "wires": []
    },
    {
        "id": "d913464d.071d18",
        "type": "ui_switch",
        "z": "e7a87ff6.fe42d",
        "name": "Enable PV",
        "label": "Enable PV",
        "tooltip": "Connect PV to charge controller",
        "group": "c2d0b90f.37e558",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 490,
        "y": 880,
        "wires": [
            [
                "d8fd7127.9d7ad",
                "d6eef8fc.0768c8",
                "c0a5f372.e1e39"
            ]
        ]
    },
    {
        "id": "d8fd7127.9d7ad",
        "type": "rpi-gpio out",
        "z": "e7a87ff6.fe42d",
        "name": "disconnect_pv",
        "pin": "12",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1120,
        "y": 880,
        "wires": []
    },
    {
        "id": "300b6be1.52e794",
        "type": "ui_chart",
        "z": "e7a87ff6.fe42d",
        "name": "tempChart",
        "group": "86ad0b61.c0e7e8",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 670,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "6a0ff0fc.7c778",
        "type": "ui_chart",
        "z": "e7a87ff6.fe42d",
        "name": "humidChart",
        "group": "86ad0b61.c0e7e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 690,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "5f791dce.4265c4",
        "type": "mcp342x",
        "z": "e7a87ff6.fe42d",
        "addressai": 0,
        "devtype": "4",
        "devadr": "0",
        "mode0": "0",
        "mode1": "1",
        "mode2": "2",
        "mode3": "2",
        "gain0": "0",
        "gain1": "0",
        "gain2": "0",
        "gain3": "0",
        "factor0": "2.46580",
        "factor1": "2.4658",
        "factor2": "2.4658",
        "factor3": "2.4658",
        "offset0": "0",
        "offset1": 0,
        "offset2": 0,
        "offset3": 0,
        "x": 380,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "c50e3f51.a019",
        "type": "inject",
        "z": "e7a87ff6.fe42d",
        "name": "5hz_clk",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1300,
        "wires": [
            [
                "2a3483d8.a1d0bc",
                "c662fb66.ebd6c8",
                "f784769e.158498",
                "89a3d429.869ee8",
                "604d066c.953798",
                "ad5fd492.9ae8f8",
                "56dfe4a2.0bbe2c"
            ]
        ]
    },
    {
        "id": "54b27559.4d460c",
        "type": "redplc-cpu",
        "z": "e7a87ff6.fe42d",
        "sdelay": 200,
        "tinput": "30",
        "toutput": "30",
        "trungs": 5,
        "outputs": 2,
        "stime": false,
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "5f791dce.4265c4"
            ],
            []
        ]
    },
    {
        "id": "2a3483d8.a1d0bc",
        "type": "function",
        "z": "e7a87ff6.fe42d",
        "name": "get_pv_current",
        "func": "msg.payload = global.get('pv_current');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1300,
        "wires": [
            [
                "fc27dbcc.9228e8"
            ]
        ]
    },
    {
        "id": "fc27dbcc.9228e8",
        "type": "ui_gauge",
        "z": "e7a87ff6.fe42d",
        "name": "PV Current",
        "group": "c2d0b90f.37e558",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PV Current (A)",
        "label": "A",
        "format": "{{value}}",
        "min": "-20",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 1300,
        "wires": []
    },
    {
        "id": "c69b5f30.5ba28",
        "type": "ui_gauge",
        "z": "e7a87ff6.fe42d",
        "name": "Battery Current",
        "group": "f935a064.ba785",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Battery Current",
        "label": "A",
        "format": "{{value}}",
        "min": "-20",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 1460,
        "wires": []
    },
    {
        "id": "c662fb66.ebd6c8",
        "type": "function",
        "z": "e7a87ff6.fe42d",
        "name": "get_battery_current",
        "func": "msg.payload = global.get('battery_current');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 1460,
        "wires": [
            [
                "c69b5f30.5ba28"
            ]
        ]
    },
    {
        "id": "a1c5d09e.29f58",
        "type": "ui_gauge",
        "z": "e7a87ff6.fe42d",
        "name": "Battery Voltage",
        "group": "f935a064.ba785",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Voltage (V)",
        "label": "V",
        "format": "{{value}}",
        "min": "9",
        "max": "13",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 1500,
        "wires": []
    },
    {
        "id": "f784769e.158498",
        "type": "function",
        "z": "e7a87ff6.fe42d",
        "name": "get_battery_voltage",
        "func": "msg.payload = global.get('battery_voltage');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 1500,
        "wires": [
            [
                "a1c5d09e.29f58",
                "bafcae22.fb24d"
            ]
        ]
    },
    {
        "id": "89a3d429.869ee8",
        "type": "function",
        "z": "e7a87ff6.fe42d",
        "name": "process_analog_inputs",
        "func": "var inputBus0 = global.get('IA0');\n\n// AI0\t-\tPV Current sensor\n// AI1\t-\tBattery current sensor\n// AI2\t-\tUSB voltage\n// AI4\t-\tBattery voltage\nvar AI0 = inputBus0[0]/1000;\nvar AI1 = inputBus0[1]/1000;\nvar AI2 = inputBus0[2]/1000;\nvar AI3 = inputBus0[3]/1000;\n\n//Usb voltage\nvar usb_voltage_raw = AI2;\n\n//Current sensor calibration\nvar iZeroVolts = usb_voltage_raw/2;\nvar voltsPerAmp = 0.1;\n\n\nvar pv_current = ((AI0 - iZeroVolts) / voltsPerAmp).toFixed(3);\nvar battery_current = ((AI1 - iZeroVolts) / voltsPerAmp).toFixed(3);\nvar usb_voltage = usb_voltage_raw.toFixed(2);\n\n\nvar vbatPDRatio = 3.0916;\n\nvar battery_voltage = (AI3 * vbatPDRatio).toFixed(2);\n\nvar pv_power = (battery_voltage * pv_current).toFixed(2);\n\n\nglobal.set(\"pv_current\",pv_current);\nglobal.set(\"battery_current\",battery_current);\nglobal.set(\"usb_voltage\",usb_voltage);\nglobal.set(\"battery_voltage\",battery_voltage);\nglobal.set(\"pv_power\",pv_power);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "d6eef8fc.0768c8",
        "type": "ui_led",
        "z": "e7a87ff6.fe42d",
        "order": 2,
        "group": "c2d0b90f.37e558",
        "width": 0,
        "height": 0,
        "label": "PV connected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "pv_connected",
        "x": 1120,
        "y": 840,
        "wires": []
    },
    {
        "id": "b6865042.405a3",
        "type": "inject",
        "z": "e7a87ff6.fe42d",
        "name": "Enable PV on power up",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "false",
        "payloadType": "jsonata",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "d913464d.071d18"
            ]
        ]
    },
    {
        "id": "604d066c.953798",
        "type": "function",
        "z": "e7a87ff6.fe42d",
        "name": "get_pv_power",
        "func": "msg.payload = global.get('pv_power');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 1360,
        "wires": [
            [
                "438add29.564a84",
                "592e1988.64efb8"
            ]
        ]
    },
    {
        "id": "438add29.564a84",
        "type": "ui_gauge",
        "z": "e7a87ff6.fe42d",
        "name": "PV Power",
        "group": "c2d0b90f.37e558",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PV Power (W)",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 1360,
        "wires": []
    },
    {
        "id": "592e1988.64efb8",
        "type": "ui_chart",
        "z": "e7a87ff6.fe42d",
        "name": "PW Power",
        "group": "c2d0b90f.37e558",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "PV Power (W)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 770,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "ad5fd492.9ae8f8",
        "type": "function",
        "z": "e7a87ff6.fe42d",
        "name": "get_usb_voltage",
        "func": "msg.payload = global.get('usb_voltage');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1700,
        "wires": [
            [
                "92129dec.4fabb"
            ]
        ]
    },
    {
        "id": "92129dec.4fabb",
        "type": "ui_gauge",
        "z": "e7a87ff6.fe42d",
        "name": "usb_voltage",
        "group": "294a7a5f.cb1686",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "USB Voltage",
        "label": "V",
        "format": "{{value}}",
        "min": "4.75",
        "max": "5.25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 740,
        "y": 1700,
        "wires": []
    },
    {
        "id": "56dfe4a2.0bbe2c",
        "type": "function",
        "z": "e7a87ff6.fe42d",
        "name": "get_cell_voltage",
        "func": "msg.payload = (global.get('battery_voltage')/3).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 1580,
        "wires": [
            [
                "9a74d040.88825"
            ]
        ]
    },
    {
        "id": "9a74d040.88825",
        "type": "ui_text",
        "z": "e7a87ff6.fe42d",
        "group": "f935a064.ba785",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "cell_voltage",
        "label": "Cell Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 1580,
        "wires": []
    },
    {
        "id": "1de47a72.7c2d66",
        "type": "function",
        "z": "e7a87ff6.fe42d",
        "name": "disable_solar_when_battery_full",
        "func": "var battery_voltage = global.get('battery_voltage');\nvar vmax = 12;\nvar hyst = 0.2;\nvar auto_disconnect_pv;\n\nif(global.get('auto')==true){\n    if(battery_voltage > vmax){\n        global.set('auto_disconnect_pv',true);\n    }\n    if(battery_voltage < (vmax-hyst)){\n        global.set('auto_disconnect_pv',false);\n    }\n    \n    \n    msg.payload = global.get('auto_disconnect_pv');\n}else{\n    global.set('auto_disconnect_pv',false);\n    msg.payload = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "f52cfe12.40f99",
        "type": "ui_switch",
        "z": "e7a87ff6.fe42d",
        "name": "enable_auto_pv_control",
        "label": "Auto",
        "tooltip": "Enable auto PV control",
        "group": "c2d0b90f.37e558",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 530,
        "y": 960,
        "wires": [
            [
                "dbece0c0.dddd9",
                "24f40753.f2a048"
            ]
        ]
    },
    {
        "id": "dbece0c0.dddd9",
        "type": "function",
        "z": "e7a87ff6.fe42d",
        "name": "set_auto_pv",
        "func": "global.set('auto',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 790,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "24f40753.f2a048",
        "type": "ui_led",
        "z": "e7a87ff6.fe42d",
        "order": 3,
        "group": "c2d0b90f.37e558",
        "width": 0,
        "height": 0,
        "label": "Auto Control Enabled",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "auto_enabled",
        "x": 810,
        "y": 1020,
        "wires": []
    },
    {
        "id": "de38bd0c.ee281",
        "type": "inject",
        "z": "e7a87ff6.fe42d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "1de47a72.7c2d66"
            ]
        ]
    },
    {
        "id": "bafcae22.fb24d",
        "type": "ui_chart",
        "z": "e7a87ff6.fe42d",
        "name": "Battery Voltage",
        "group": "f935a064.ba785",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Battery Voltage (V)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 720,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "c0a5f372.e1e39",
        "type": "ui_chart",
        "z": "e7a87ff6.fe42d",
        "name": "pv_connected",
        "group": "f935a064.ba785",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "PV Connected",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1120,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "86ad0b61.c0e7e8",
        "type": "ui_group",
        "name": "Environment",
        "tab": "f2bc0cf7.556ce",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "c2d0b90f.37e558",
        "type": "ui_group",
        "name": "PV",
        "tab": "f2bc0cf7.556ce",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f935a064.ba785",
        "type": "ui_group",
        "name": "Battery",
        "tab": "f2bc0cf7.556ce",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "294a7a5f.cb1686",
        "type": "ui_group",
        "name": "Raspberry PI",
        "tab": "f2bc0cf7.556ce",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f2bc0cf7.556ce",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]