flows.json
[
    {
        "id": "76b0c291.39da1c",
        "type": "tab",
        "label": "Automation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4e2566b7.d794d8",
        "type": "tab",
        "label": "Environment",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ca44c186.e38c2",
        "type": "tab",
        "label": "Initialisation and Controls",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e33b33c9.6663f",
        "type": "tab",
        "label": "Plots",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f167e4d1.d12468",
        "type": "tab",
        "label": "Averaging",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2548f36.f8db4",
        "type": "ui_tab",
        "name": "Shed",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "612a044d.2efefc",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "86ad0b61.c0e7e8",
        "type": "ui_group",
        "name": "Environment",
        "tab": "f2bc0cf7.556ce",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "f2bc0cf7.556ce",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c2d0b90f.37e558",
        "type": "ui_group",
        "name": "PV",
        "tab": "f2bc0cf7.556ce",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f935a064.ba785",
        "type": "ui_group",
        "name": "Battery",
        "tab": "f2bc0cf7.556ce",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "51282603.3865f8",
        "type": "ui_group",
        "name": "Load",
        "tab": "f2bc0cf7.556ce",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "294a7a5f.cb1686",
        "type": "ui_group",
        "name": "Raspberry PI",
        "tab": "f2bc0cf7.556ce",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8bfa3728.2741e8",
        "type": "ui_tab",
        "name": "environment",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb282904.cf6928",
        "type": "ui_group",
        "name": "Controls",
        "tab": "f2bc0cf7.556ce",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4aaec0e6.7a503",
        "type": "rpi-gpio out",
        "z": "76b0c291.39da1c",
        "name": "disconnect_pv",
        "pin": "12",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 760,
        "y": 800,
        "wires": []
    },
    {
        "id": "e3430aec.f1cee8",
        "type": "mcp342x",
        "z": "76b0c291.39da1c",
        "addressai": "0",
        "devtype": "4",
        "devadr": "0",
        "mode0": "0",
        "mode1": "1",
        "mode2": "2",
        "mode3": "2",
        "gain0": "0",
        "gain1": "0",
        "gain2": "0",
        "gain3": "0",
        "factor0": "2.46580",
        "factor1": "2.4658",
        "factor2": "2.4658",
        "factor3": "2.4658",
        "offset0": "0",
        "offset1": 0,
        "offset2": 0,
        "offset3": 0,
        "x": 140,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "c8e118ef.454b48",
        "type": "inject",
        "z": "76b0c291.39da1c",
        "name": "5hz_clk_1sec_after_init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "a2ec8877.b96fc8",
                "b55c1269.66fa1",
                "d20ec8ee.53eab8",
                "26a64052.ec20a",
                "12de445d.c70a8c",
                "a7763c82.12b53",
                "8e3a720c.317ba",
                "a6bb92e.bff3b7"
            ]
        ]
    },
    {
        "id": "2f4a420a.a1418e",
        "type": "redplc-cpu",
        "z": "76b0c291.39da1c",
        "sdelay": 200,
        "tinput": "30",
        "toutput": "30",
        "trungs": 5,
        "outputs": 2,
        "stime": false,
        "x": 110,
        "y": 900,
        "wires": [
            [
                "e3430aec.f1cee8"
            ],
            []
        ]
    },
    {
        "id": "a7763c82.12b53",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_pv_current",
        "func": "msg.payload = global.get('pv_current');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 140,
        "wires": [
            [
                "c2b5c295.513a9"
            ]
        ]
    },
    {
        "id": "c2b5c295.513a9",
        "type": "ui_gauge",
        "z": "76b0c291.39da1c",
        "name": "PV Current",
        "group": "c2d0b90f.37e558",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PV Current (A)",
        "label": "A",
        "format": "{{value}}",
        "min": "-20",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "5bf7287d.0dd248",
        "type": "ui_gauge",
        "z": "76b0c291.39da1c",
        "name": "Battery Current",
        "group": "f935a064.ba785",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Battery Current",
        "label": "A",
        "format": "{{value}}",
        "min": "-20",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "a2ec8877.b96fc8",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_battery_current",
        "func": "msg.payload = global.get('battery_current');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "5bf7287d.0dd248"
            ]
        ]
    },
    {
        "id": "ad43aca9.039c5",
        "type": "ui_gauge",
        "z": "76b0c291.39da1c",
        "name": "Battery Voltage",
        "group": "f935a064.ba785",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Voltage (V)",
        "label": "V",
        "format": "{{value}}",
        "min": "9",
        "max": "13",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "26a64052.ec20a",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_battery_voltage",
        "func": "msg.payload = global.get('battery_voltage');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "ad43aca9.039c5"
            ]
        ]
    },
    {
        "id": "8e3a720c.317ba",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "process_analog_inputs",
        "func": "var inputBus0 = global.get('IA0');\n\n// AI0\t-\tPV Current sensor\n// AI1\t-\tBattery current sensor\n// AI2\t-\tUSB voltage\n// AI4\t-\tBattery voltage\nvar AI0 = inputBus0[0]/1000;\nvar AI1 = inputBus0[1]/1000;\nvar AI2 = inputBus0[2]/1000;\nvar AI3 = inputBus0[3]/1000;\n\n//Usb voltage\nvar usb_voltage_raw = AI2;\n\n//Current sensor calibration\nvar iZeroVolts = usb_voltage_raw/2;\nvar voltsPerAmp = 0.1;\n\n\nvar pv_current = ((AI0 - iZeroVolts) / voltsPerAmp).toFixed(3);\nvar battery_current = ((AI1 - iZeroVolts) / voltsPerAmp).toFixed(3);\nvar usb_voltage = usb_voltage_raw.toFixed(2);\n\n\nvar vbatPDRatio = 3.0916;\n\nvar battery_voltage = (AI3 * vbatPDRatio).toFixed(2);\n\nvar pv_power = (battery_voltage * pv_current).toFixed(2);\n\n\nglobal.set(\"pv_current\",parseFloat(pv_current));\nglobal.set(\"battery_current\",parseFloat(battery_current));\nglobal.set(\"usb_voltage\",parseFloat(usb_voltage));\nglobal.set(\"battery_voltage\",parseFloat(battery_voltage));\nglobal.set(\"pv_power\",parseFloat(pv_power));\n\nmsg.payload = pv_power;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2d9edd0a.d7d792",
        "type": "ui_led",
        "z": "76b0c291.39da1c",
        "order": 1,
        "group": "c2d0b90f.37e558",
        "width": 0,
        "height": 0,
        "label": "PV connected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "pv_connected",
        "x": 760,
        "y": 740,
        "wires": []
    },
    {
        "id": "12de445d.c70a8c",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_pv_power",
        "func": "msg.payload = global.get('pv_power');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "413b7686.514508"
            ]
        ]
    },
    {
        "id": "413b7686.514508",
        "type": "ui_gauge",
        "z": "76b0c291.39da1c",
        "name": "PV Power",
        "group": "c2d0b90f.37e558",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PV Power (W)",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "b55c1269.66fa1",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_usb_voltage",
        "func": "msg.payload = global.get('usb_voltage');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 480,
        "wires": [
            [
                "104074cc.da666b"
            ]
        ]
    },
    {
        "id": "104074cc.da666b",
        "type": "ui_gauge",
        "z": "76b0c291.39da1c",
        "name": "usb_voltage",
        "group": "294a7a5f.cb1686",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "USB Voltage",
        "label": "V",
        "format": "{{value}}",
        "min": "4.75",
        "max": "5.25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "d20ec8ee.53eab8",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_cell_voltage",
        "func": "msg.payload = (global.get('battery_voltage')/3).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "c90ae616.bf6b58"
            ]
        ]
    },
    {
        "id": "c90ae616.bf6b58",
        "type": "ui_text",
        "z": "76b0c291.39da1c",
        "group": "f935a064.ba785",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "cell_voltage",
        "label": "Cell Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "cc17a1a0.6b6a6",
        "type": "ui_led",
        "z": "76b0c291.39da1c",
        "order": 3,
        "group": "bb282904.cf6928",
        "width": 0,
        "height": 0,
        "label": "Auto Control Enabled",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "auto_enabled",
        "x": 740,
        "y": 680,
        "wires": []
    },
    {
        "id": "c603aee5.8fb4a",
        "type": "inject",
        "z": "76b0c291.39da1c",
        "name": "5Hz_clk_1.5sec_after_init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": true,
        "onceDelay": "1.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 740,
        "wires": [
            [
                "d06e18df.c7d238",
                "2b2e3b96.c01214",
                "e47905f1.fd0998"
            ]
        ]
    },
    {
        "id": "d06e18df.c7d238",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "pv_charge_control",
        "func": "var user_enable_pv = global.get('user_disconnect_pv');\nvar battery_voltage = global.get('battery_voltage');\nvar auto = global.get('auto');\nvar auto_latch = global.get('auto_latch');\nvar disconnect_pv = global.get('disconnect_pv');\nvar vmax = 12;\nvar hyst = 0.2;\n\n\n\nif(global.get('auto')==true){\n    // If first time going into auto mode\n    if(auto_latch == false){\n        if(battery_voltage > vmax){\n            global.set('disconnect_pv',true);\n        }else{\n            global.set('disconnect_pv',false);\n        }\n        global.set('auto_latch',true);\n    }else{\n\n        if(battery_voltage > vmax){\n            global.set('disconnect_pv',true);\n        }\n        if(battery_voltage < (vmax-hyst)){\n            global.set('disconnect_pv',false);\n        }\n    }\n    \n}else{\n    global.set('auto_latch',false);\n    //Pass through the user control\n    global.set('disconnect_pv',user_enable_pv);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "2b2e3b96.c01214",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_disconnect_pv",
        "func": "msg.payload = global.get('disconnect_pv');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 740,
        "wires": [
            [
                "2d9edd0a.d7d792",
                "4aaec0e6.7a503"
            ]
        ]
    },
    {
        "id": "e47905f1.fd0998",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_auto",
        "func": "msg.payload = global.get('auto');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 680,
        "wires": [
            [
                "cc17a1a0.6b6a6"
            ]
        ]
    },
    {
        "id": "f8db618d.0283a",
        "type": "ui_gauge",
        "z": "4e2566b7.d794d8",
        "name": "",
        "group": "86ad0b61.c0e7e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 940,
        "y": 180,
        "wires": []
    },
    {
        "id": "9c496e67.d70c6",
        "type": "rpi-dht22",
        "z": "4e2566b7.d794d8",
        "name": "Temperature",
        "topic": "rpi-dht22",
        "dht": "22",
        "pintype": "0",
        "pin": "17",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "248015fd.96c52a",
                "ab68d793.4d2578"
            ]
        ]
    },
    {
        "id": "4694b444.c67ecc",
        "type": "inject",
        "z": "4e2566b7.d794d8",
        "name": "0.2hz_clk",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "9c496e67.d70c6"
            ]
        ]
    },
    {
        "id": "248015fd.96c52a",
        "type": "function",
        "z": "4e2566b7.d794d8",
        "name": "getHumidity",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 180,
        "wires": [
            [
                "f8db618d.0283a"
            ]
        ]
    },
    {
        "id": "ab68d793.4d2578",
        "type": "ui_gauge",
        "z": "4e2566b7.d794d8",
        "name": "",
        "group": "86ad0b61.c0e7e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "degrees C",
        "format": "{{value}}",
        "min": "-25",
        "max": "75",
        "colors": [
            "#001eb3",
            "#0fe600",
            "#ca3838"
        ],
        "seg1": "9",
        "seg2": "25",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "b97e688b.7de7e8",
        "type": "ui_switch",
        "z": "ca44c186.e38c2",
        "name": "user_disconnect_pv",
        "label": "Disable PV",
        "tooltip": "Connect PV to charge controller",
        "group": "bb282904.cf6928",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "f925bc0c.6d4e1"
            ]
        ]
    },
    {
        "id": "7eabf3d6.0d389c",
        "type": "inject",
        "z": "ca44c186.e38c2",
        "name": "Enable PV on power up",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "true",
        "payloadType": "jsonata",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "b97e688b.7de7e8",
                "b73643a7.e37f9",
                "62c86d4a.d86354"
            ]
        ]
    },
    {
        "id": "62c86d4a.d86354",
        "type": "ui_switch",
        "z": "ca44c186.e38c2",
        "name": "enable_auto_pv_control",
        "label": "Auto",
        "tooltip": "Enable auto PV control",
        "group": "bb282904.cf6928",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "9dde9703.dc30c8"
            ]
        ]
    },
    {
        "id": "9dde9703.dc30c8",
        "type": "function",
        "z": "ca44c186.e38c2",
        "name": "set_auto",
        "func": "global.set('auto',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f925bc0c.6d4e1",
        "type": "function",
        "z": "ca44c186.e38c2",
        "name": "set_user_disconnect_pv",
        "func": "global.set('user_disconnect_pv',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 810,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b73643a7.e37f9",
        "type": "function",
        "z": "ca44c186.e38c2",
        "name": "initialise_variables",
        "func": "global.set('disconnect_pv',false);\nglobal.set('auto',false);\nglobal.set('auto_latch',false);\nglobal.set('pv_power_peak',0);\nglobal.set('pv_power_avg',0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8958a3f4.88665",
        "type": "comment",
        "z": "4e2566b7.d794d8",
        "name": "Get data on temp and humidity",
        "info": "Get data on temp and humidity",
        "x": 170,
        "y": 180,
        "wires": []
    },
    {
        "id": "cde95ec1.658d9",
        "type": "comment",
        "z": "ca44c186.e38c2",
        "name": "Initialise global variables",
        "info": "",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "81e9015c.26ca3",
        "type": "function",
        "z": "e33b33c9.6663f",
        "name": "get_pv_power",
        "func": "msg.payload = global.get('pv_power');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2597c8a9.0245b8",
        "type": "ui_chart",
        "z": "e33b33c9.6663f",
        "name": "Battery Voltage",
        "group": "f935a064.ba785",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Battery Voltage (V)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "288",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 780,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2818cbb6.ba24a4",
        "type": "function",
        "z": "e33b33c9.6663f",
        "name": "get_battery_voltage",
        "func": "msg.payload = global.get('battery_voltage');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "2597c8a9.0245b8"
            ]
        ]
    },
    {
        "id": "a579588.1169da8",
        "type": "inject",
        "z": "e33b33c9.6663f",
        "name": "5min_trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "81e9015c.26ca3",
                "2818cbb6.ba24a4",
                "aafed732.1dd0e8"
            ]
        ]
    },
    {
        "id": "260096d9.982f8a",
        "type": "ui_chart",
        "z": "e33b33c9.6663f",
        "name": "humidChart",
        "group": "86ad0b61.c0e7e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "288",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 910,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e2de8bf3.3ffab8",
        "type": "function",
        "z": "e33b33c9.6663f",
        "name": "getHumidity",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 440,
        "wires": [
            [
                "260096d9.982f8a"
            ]
        ]
    },
    {
        "id": "d0c4221e.dab05",
        "type": "ui_chart",
        "z": "e33b33c9.6663f",
        "name": "tempChart",
        "group": "86ad0b61.c0e7e8",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "288",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 770,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "aafed732.1dd0e8",
        "type": "rpi-dht22",
        "z": "e33b33c9.6663f",
        "name": "Temperature",
        "topic": "rpi-dht22",
        "dht": "22",
        "pintype": "0",
        "pin": "17",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "e2de8bf3.3ffab8",
                "d0c4221e.dab05"
            ]
        ]
    },
    {
        "id": "cb561148.8a146",
        "type": "ui_text",
        "z": "76b0c291.39da1c",
        "group": "c2d0b90f.37e558",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "pv_power_peak",
        "label": "PV Max power",
        "format": "{{msg.payload}}W",
        "layout": "row-spread",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "7f5105a8.23e10c",
        "type": "inject",
        "z": "ca44c186.e38c2",
        "name": "reset_every_day",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "39 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "78015b65.0e34e4"
            ]
        ]
    },
    {
        "id": "78015b65.0e34e4",
        "type": "function",
        "z": "ca44c186.e38c2",
        "name": "reset_variables",
        "func": "global.set('pv_power_peak',0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a6bb92e.bff3b7",
        "type": "function",
        "z": "76b0c291.39da1c",
        "name": "get_peak_power",
        "func": "var pv_pwr = global.get('pv_power');\nvar pv_pwr_pk = global.get('pv_power_peak');\n\nif(pv_pwr > pv_pwr_pk){\n    pv_pwr_pk = pv_pwr;\n    global.set('pv_power_peak',pv_pwr_pk);\n}\nmsg.payload = pv_pwr_pk;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "cb561148.8a146"
            ]
        ]
    },
    {
        "id": "3a7fc8fc.c89a38",
        "type": "inject",
        "z": "f167e4d1.d12468",
        "name": "5Hz",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "6cf0351c.945f8c"
            ]
        ]
    },
    {
        "id": "6cf0351c.945f8c",
        "type": "function",
        "z": "f167e4d1.d12468",
        "name": "pv_power_avg",
        "func": "var pv_power = parseFloat(global.get('pv_power'));\nvar pv_power_avg_counter = flow.get('pv_power_avg_counter');\nvar pv_power_acc = flow.get('pv_power_acc');\nvar pv_power_avg;\n\npv_power_avg_counter = pv_power_avg_counter +1;\npv_power_acc = pv_power_acc + pv_power;\n\npv_power_avg = pv_power_acc/pv_power_avg_counter;\n\nflow.set('pv_power_acc',pv_power_acc);\nflow.set('pv_power_avg_counter',pv_power_avg_counter);\nglobal.set('pv_power_avg',pv_power_avg);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "31f0657b.6fe8fa",
        "type": "inject",
        "z": "f167e4d1.d12468",
        "name": "5min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "f4053dd3.1890f"
            ]
        ]
    },
    {
        "id": "fe482537.e43688",
        "type": "inject",
        "z": "f167e4d1.d12468",
        "name": "Enable PV on power up",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "true",
        "payloadType": "jsonata",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "9dfbc82.d2d1638"
            ]
        ]
    },
    {
        "id": "9dfbc82.d2d1638",
        "type": "function",
        "z": "f167e4d1.d12468",
        "name": "init_flow_variables",
        "func": "flow.set('pv_power_avg_counter',0);\nflow.set('pv_power_acc',0.0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f4053dd3.1890f",
        "type": "function",
        "z": "f167e4d1.d12468",
        "name": "get_pv_power_avg",
        "func": "msg.payload = global.get('pv_power_avg');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "626be538.baa9ec"
            ]
        ]
    },
    {
        "id": "626be538.baa9ec",
        "type": "ui_chart",
        "z": "f167e4d1.d12468",
        "name": "PW Power",
        "group": "c2d0b90f.37e558",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "PV Power (W)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "288",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 710,
        "y": 120,
        "wires": [
            [
                "eac36fab.8c15b"
            ]
        ]
    },
    {
        "id": "eac36fab.8c15b",
        "type": "function",
        "z": "f167e4d1.d12468",
        "name": "reset_averaging",
        "func": "global.set('pv_power_avg',0);\nflow.set('pv_power_acc',0);\nflow.set('pv_power_avg_counter',0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 120,
        "wires": [
            []
        ]
    }
]