flows_raspberrypi.json
[{"id":"e7a87ff6.fe42d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d2548f36.f8db4","type":"ui_tab","name":"Shed","icon":"dashboard","disabled":false,"hidden":false},{"id":"612a044d.2efefc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"58558b22.bf10f4","type":"ui_group","name":"Temperature","tab":"d2548f36.f8db4","order":1,"disp":true,"width":"14","collapse":false},{"id":"86ad0b61.c0e7e8","type":"ui_group","name":"Humidity","tab":"d2548f36.f8db4","order":2,"disp":true,"width":"14","collapse":true},{"id":"10233911.56dfd7","type":"ui_group","name":"Relay","tab":"d2548f36.f8db4","order":3,"disp":true,"width":"6","collapse":false},{"id":"4be6a45c.fd89dc","type":"ui_gauge","z":"e7a87ff6.fe42d","name":"","group":"86ad0b61.c0e7e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":600,"wires":[]},{"id":"60dd221c.6e0d4c","type":"rpi-dht22","z":"e7a87ff6.fe42d","name":"Temperature","topic":"rpi-dht22","dht":"22","pintype":"0","pin":"17","x":270,"y":660,"wires":[["619ece63.f14d9","d1358d00.a6b7d","c329d35b.3ec46","300b6be1.52e794"]]},{"id":"1dd3d984.16c716","type":"inject","z":"e7a87ff6.fe42d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":660,"wires":[["60dd221c.6e0d4c"]]},{"id":"619ece63.f14d9","type":"function","z":"e7a87ff6.fe42d","name":"getHumidity","func":"msg.payload = msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":600,"wires":[["4be6a45c.fd89dc","6a0ff0fc.7c778"]]},{"id":"d1358d00.a6b7d","type":"ui_gauge","z":"e7a87ff6.fe42d","name":"","group":"58558b22.bf10f4","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degrees C","format":"{{value}}","min":"-25","max":"75","colors":["#001eb3","#0fe600","#ca3838"],"seg1":"10","seg2":"25","x":670,"y":660,"wires":[]},{"id":"d913464d.071d18","type":"ui_switch","z":"e7a87ff6.fe42d","name":"relay control","label":"switch","tooltip":"","group":"10233911.56dfd7","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":90,"y":880,"wires":[["d8fd7127.9d7ad"]]},{"id":"d8fd7127.9d7ad","type":"rpi-gpio out","z":"e7a87ff6.fe42d","name":"relay","pin":"8","set":true,"level":"0","freq":"","out":"out","x":690,"y":880,"wires":[]},{"id":"c329d35b.3ec46","type":"function","z":"e7a87ff6.fe42d","name":"fanControl","func":"if(msg.payload > 23){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":800,"wires":[["d8fd7127.9d7ad"]]},{"id":"300b6be1.52e794","type":"ui_chart","z":"e7a87ff6.fe42d","name":"tempChart","group":"58558b22.bf10f4","order":2,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":700,"y":740,"wires":[[]]},{"id":"6a0ff0fc.7c778","type":"ui_chart","z":"e7a87ff6.fe42d","name":"humidChart","group":"86ad0b61.c0e7e8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":560,"wires":[[]]}]